
a:link { color: black; text-decoration: none}
a:visited { color: #2f2e2f; text-decoration: none}
a:hover { color: blue; text-decoration: underline;}
a:active { color: #000000; text-decoration: underline;}

.color-link {
    color:#1a8fef;
}

.body-image {
	background-image: url("/images/Freework_3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #f5f5f1;
}

.home-page-buttons {
	margin-top: 19%;
    margin-bottom: 3%;
}

.color-nav {
	background-color: white;
}

/* Nav profile image */
.navProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;  
    border-radius: 50%;
    margin-top: -9px;
    margin-right: -19px;
}
  
.nav-height {
    height:10px;
}

.space_nav {
    margin-left: 30px;
}

.space_nav_options {
    margin-left: 5px;
}
/* Collect the nav links, forms, and other content for toggling */

/* Scrollbar styles for Messenger*/
#myScroll::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
#myScroll::-webkit-scrollbar-track {
    border: 1px solid #a4a4a5;
    border-radius: 2px;
}
#myScroll::-webkit-scrollbar-thumb {
    background: gray;  
    border-radius: 10px;
}
#myScroll::-webkit-scrollbar-thumb:hover {
    background: #b1b2b5; 
}  

/* Scrollbar styles for Messenger*/
/*#app::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
#app::-webkit-scrollbar-track {
    border: 1px solid #a4a4a5;
    border-radius: 2px;
}
#app::-webkit-scrollbar-thumb {
    background: gray;  
    border-radius: 10px;
}
#app::-webkit-scrollbar-thumb:hover {
    background: #b1b2b5; 
} */ 

/* Notification Style */
.bell-top-margin {
    margin-top: 6px;
    margin-right:40px;
}

.notification-style {
    background-color:#E4E9F2;
    width:400px;
}

.notification-image {
    width:50px; 
    padding:5px; 
    background:#fff; 
    border:1px solid #eee;
}

.notification-name {
    color:green; 
    font-size:90%;
}

.notification-info {
    color:#000; 
    font-size:90%;
}

.notification-color {
    color:#90949C;
}


.imageHomePage {
    width: 170px;
    height: 200px;
}

.titleProfile {
    position: absolute;
    top: 90px;
    left: 26px;
    color: white;
}

.nameProfile {
    position: absolute;
    top: 130px;
    left: 26px;
    color: white;
}

.badge {
    font-size: 17px;
}

.glyphicon-heart-empty {
    font-size: 25px;
    color: #0aa8f7;
}
/*
.freework-img {
	height: 90px;
    width: 290px;
}
*/


.freework-img {
    margin-top: -8px;
    height: 35px;
    width: 140px;
}


.header-link-signup {
	color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    padding-right: 80px;
    line-height: 90px;
    font-size: 19px;
}

.header-link-login {
	color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    padding-right: 123px;
    line-height: 90px;
    font-size: 19px;
}

.center-title {
	text-align: center;
}

.form-spacing-top {
	margin-top: 30px;
}

.br-br {
    margin-top: 40px;
}

.mainUser {
    top: 20px;
}

.mainUserLeft {
    top: 80px;
}

/* Admin */
.padding-left {
    margin-left: 15px;
}

.label-skill {
    font-size: 18px;
}


/* Freelancer */
.inline {
    display: inline;
}

.top-proposal {
    top: 87px;
}

/* Messages */
.mess-color {
     background-color: #fff;
}

.color-heading {
    color:black; 
    height: 55px;
}

.image-privateMsg {
    width:50px; 
    height:50px; 
    border-radius:50%; 
    margin: 6px 6px 6px 0px;
}

.image-privateMsg2 {
    width:34px; 
    height:34px;
    border-radius:50%; 
    margin-left:5px;
}

.image-privateMsg3{
    width:34px; 
    height:34px;
    border-radius:50%;
}

.margin-left-title {
    margin-left: 10px;
}

.top-message {
    margin-top:5px;
}

.messages {
    background-color: #fff; 
    min-height: 600px; 
    border-left:5px solid #F5F8FA;
}

.privateMsg {
    list-style:none;
    margin:10px 0px 0px -40px; 
    background-color:#F3F3F3;
}

.singleMsg-msg-right {
    float:right; 
    background-color:#0084ff; 
    padding:5px 15px 5px 15px; 
    margin-right:10px; 
    color:#333; 
    border-radius:10px; 
    color:#fff;
}

.singleMsg-msg-left {
    float:left; 
    background-color:#F0F0F0; 
    padding: 5px 15px 5px 15px; 
    border-radius:10px; 
    text-align:right; 
    margin-left: 15px;
}

 
.singleMsg-right-created_at {
    font-size: 12px; 
    opacity: 0.5; 
    margin-top: -10px;
    margin-right: 64px;
}

.singleMsg-left-created_at {
    font-size: 12px; 
    opacity: 0.5; 
    margin-top: -10px;
    margin-left: 64px;
}

.top-textarea {
    margin-top:15px;
}

.padding-row {
    padding:10px;
}

#myScroll {
    overflow-y:scroll;
    overflow-x:hidden; 
    height:410px; 
    background:#fcfcfc; 
    overflow:auto;
    transform:rotateX(180deg);
}

.margin-top-bottom {
    margin-top:10px; 
    margin-bottom: 10px;
}

.newMsg-users {
    list-style:none;
    margin-top:10px;
    background-color:#F3F3F3;
}

/* -180deg inainte  */
.rotateX { 
    transform:rotateX(-180deg);
}

/* Freelancer */
.image-radius-freelancer {
    border-radius: 50%;
}

.list-style {
    list-style-type:disc;
}

.star_review_color {
    color: #04a1db;
}

.imageSearchJob {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mottoSearchJob {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* End Freelancer */


/*  Client  */
.image-radius-client {
    border-radius: 50%;
}
/*  End Client  */


/*  Admin  */
.image-radius-admin {
    border-radius: 50%;
}
/*  End Admin  */


/*  General use */
.center-text {
    text-align: center;
}

.valueFreelancer {
    color: #0485a3;
}