
a:link { color: #000000; text-decoration: none}
a:visited { color: #2f2e2f; text-decoration: none}
a:hover { color: #059fea; text-decoration: none}
a:active { color: #000000; text-decoration: none}

.body-image {
	background-image: url("/images/Freework_3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #f5f5f1;
}

.home-page-buttons {
	margin-top: 19%;
    margin-bottom: 3%;
}

.color-nav {
	background-color: white;
}

/* Nav profile image */
.navProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;  
    border-radius: 50%;
    margin-top: -9px;
    margin-right: -19px;
}
  
.imageHomePage {
    width: 170px;
    height: 200px;
}

.titleProfile {
    position: absolute;
    top: 90px;
    left: 26px;
    color: white;
}

.nameProfile {
    position: absolute;
    top: 130px;
    left: 26px;
    color: white;
}

.badge {
    font-size: 17px;
}

.glyphicon-heart-empty {
    font-size: 25px;
    color: #0aa8f7;
}
/*
.freework-img {
	height: 90px;
    width: 290px;
}
*/


.freework-img {
    margin-top: -8px;
    height: 35px;
    width: 140px;
}


.header-link-signup {
	color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    padding-right: 80px;
    line-height: 90px;
    font-size: 19px;
}

.header-link-login {
	color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    padding-right: 123px;
    line-height: 90px;
    font-size: 19px;
}

.center-title {
	text-align: center;
}

.form-spacing-top {
	margin-top: 30px;
}

.br-br {
    margin-top: 40px;
}

.mainUser {
    top: 20px;
}

.mainUserLeft {
    top: 80px;
}

/* Admin */
.padding-left {
    margin-left: 15px;
}

.label-skill {
    font-size: 18px;
}


/* Freelancer */
